.container{
	display: block;
	width: 95%;
	margin: auto;
	margin-top: 0.5%;
}
.table {
	display: flex;
	flex-direction: column;
}
.main {
	display: flex;
	flex-direction: column;
}
.t {
	display: flex;
	flex-direction: row;
}
.d{
	padding: 0.5%;
}
.n{
	width: 17%;
	height: auto;
	padding: 0.5%;
	border: solid;
}
.name{
	display: flex;
	height: 25px;
}
.teacher{
	display: flex;
	height: 25px;	
}
.room{
	display: flex;
	height: 25px;
	color:#ff0f7f;
}
.sirabasu{
	display: flex;
	height: 25px;
}
.book{
	display: flex;
	height: 20px;
	color:#12C812;
}
.teams{
	display: flex;
	height: 20px;
	color:#ff7f7f;
}
.moodle{
	display: flex;
	height: 20px;
	color:#ff7f7f;	
}
.n1{
	width: 5%;
	height: auto;
	margin: 0px;
	padding: 0.5%;
}
h3{
	text-align: center;
	margin: 0px;
}
